@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  --color-background: #203141;
  --color-background-light: #2c3e50;
  --color-background-dark: #17212a;
  --color-text-light: #f8f8f8;
  --color-text-dark: #181818;
  --color-text-mute: #2c3e50;
  --color-green-primary: #00b894;
  --color-green-dark: #00a389;
  --color-red-primary: #e34242;
  --color-red-dark: #ff7675;
  --color-blue-primary: #0984e3;
  --color-blue-secondary: #74b9ff;
  --color-yellow-primary: #fdcb6e;
  --color-yellow-secondary: #ffeaa7;
  --color-purple-primary: #6c5ce7;
  --color-purple-secondary: #a29bfe;
  --color-orange-primary: #e17055;
  --color-orange-secondary: #fab1a0;
}

.button {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.button.success {
  background-color: var(--color-green-primary);
  color: var(--color-text-light);
}

.button.success:hover {
  background-color: var(--color-green-dark);
}

.button.danger {
  background-color: var(--color-red-primary);
  color: var(--color-text-light);
}

.button.danger:hover {
  background-color: var(--color-red-dark);
}
