/* Import fonts */
@import url('https://fonts.cdnfonts.com/css/metropolis-2');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Define global variables */
:root {
  --color-background: #203141;
  --color-background-light: #2c3e50;
  --color-background-dark: #17212a;

  --color-text-light: #f8f8f8;
  --color-text-dark: #181818;
  --color-text-mute: #b1bad3;

  --color-green-primary: #00b894;
  --color-green-secondary: #00a389;
  --color-green-tertiary: rgb(2, 200, 167);
  --color-red-primary: #e34242;
  --color-red-secondary: #ff7675;
  --color-blue-primary: #0984e3;
  --color-blue-secondary: #74b9ff;
  --color-yellow-primary: #fdcb6e;
  --color-yellow-secondary: #ffeaa7;
  --color-purple-primary: #6c5ce7;
  --color-purple-secondary: #a29bfe;
  --color-orange-primary: #e17055;
  --color-orange-secondary: #fab1a0;
  --color-grey-primary: #b1bad3;

  --grey-100: #d5dceb;
  --grey-200: #b1bad3;
  --grey-300: #557086;
  --grey-350: #3d5564;
  --grey-400: #2f4553;
  --grey-500: #213743;
  --grey-600: #1a2c38;
  --grey-700: #0f212e;
  --grey-800: #071d2a;
  --grey-900: #071824;

  --red-500: #e9113c;
  --green-500: #00e701;

  --btn-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.12);

  --max-width: 1280px;
  --padding-container: 3rem 1rem;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--grey-600);
  color: var(--color-text-light);
  font-family: 'Metropolis', sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

.button.success {
  background-color: var(--color-green-primary);
  color: var(--color-text-light);
}

.button.success:hover {
  background-color: var(--color-green-secondary);
}

.button.danger {
  background-color: var(--color-red-primary);
  color: var(--color-text-light);
}

.button.danger:hover {
  background-color: var(--color-red-secondary);
}

input {
  border: none;
  color: var(--color-text-light);
  font-weight: bold;
}

input:focus {
  outline: none;
}
